.testo {
    text-align:justify;
}
.titoli {
    color: rgb(255, 123, 0);
    font-size: 250%;
}
.linea {
    color: rgb(255, 123, 0);
    background: rgb(255, 123, 0);
    height: 3px;
}
.profiloimg{
    text-align: center;
     background-color: rgb(187, 187, 187);
     height: 503px;
}
.parag{
    text-align:start;
}
#titolo{
    font-size: 50px;
    
}
.sottotitoli{
    font-style: oblique;
}
#saluti{
    text-align: center;
}